@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom reset & font */
html, body, #__next { margin:0; padding:0; min-height:100%; }
body { font-family: var(--font-inter), sans-serif; background-color: hsl(0,0%,98%); color: hsl(210,15%,15%); }
